<h1 class="text-2xl m-4 p-2">Customer Management</h1>
<button mat-button (click)="createCustomer()">Create Customer</button>
<table mat-table matSort [dataSource]="dataSource">
  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>First name</th>
    <td mat-cell *matCellDef="let customer">{{ customer.firstName }}</td>
  </ng-container>

  <ng-container matColumnDef="lastName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Last name</th>
    <td mat-cell *matCellDef="let customer">{{ customer.lastName }}</td>
  </ng-container>
  <ng-container matColumnDef="city">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>City</th>
    <td mat-cell *matCellDef="let customer">{{ customer.addresses[0]?.city }}</td>
  </ng-container>
  <ng-container matColumnDef="suburb">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Suburb</th>
    <td mat-cell *matCellDef="let customer">{{ customer.addresses[0]?.suburb }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let customer">
      <button mat-icon-button [matMenuTriggerFor]="actionsMenu" aria-label="Row actions">
        <mat-icon>more_vert</mat-icon>
      </button>

      <mat-menu #actionsMenu="matMenu" class="actions-menu-panel">
        <button mat-menu-item (click)="onViewQuotes(customer)">
          <mat-icon>request_quote</mat-icon>
          <span>View Quotes</span>
        </button>
        <button mat-menu-item (click)="onEditCustomer(customer)">
          <mat-icon>Edit</mat-icon>
          <span>Edit customer</span>
        </button>
        <button mat-menu-item (click)="onDeleteCustomer(customer)" class="warn-item">
          <mat-icon color="warn">delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayColumns"></tr>
</table>
